.d-label {
  display: inline-block;
  padding: 0.25rem;
  font-size: 0.6rem;
  line-height: 1;
  color: #616161;
  background-color: #e0e0e0;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; /*默认。元素放置在父元素的基线上。*/
  border-radius: 0.15rem;
}
.d-label-skill {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-size: 0.6rem;
  line-height: 1;
  color: #616161;
  background-color: #e0e0e0;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; /*默认。元素放置在父元素的基线上。*/
  border-radius: 10rem;
  margin-bottom: 0.25rem;
}
.d-label-skill:active {
  background-color: #ff7f00;
  color: #fff;
}
.d-label-primary {
  color: #fff;
  background-color: #00bcd4;
}
.d-label-success {
  color: #fff;
  background-color: #009688;
}
.d-label-info {
  color: #fff;
  background-color: #03a9f4;
}
.d-label-warning {
  color: #fff;
  background-color: #ffc107;
}
.d-label-danger {
  color: #fff;
  background-color: #e51c23;
}
.d-label-outlined {
  border: 1px solid #d9d9d9;
  background-color: transparent;
}
.d-label-outlined.d-label-primary {
  color: #00bcd4;
  border-color: #00bcd4;
}
.d-label-outlined.d-label-success {
  color: #009688;
  border-color: #009688;
}
.d-label-outlined.d-label-info {
  color: #03a9f4;
  border-color: #03a9f4;
}
.d-label-outlined.d-label-warning {
  color: #ffc107;
  border-color: #ffc107;
}
.d-label-outlined.d-label-danger {
  color: #e51c23;
  border-color: #e51c23;
}
.d-label .d-iconfont {
  font-size: 0.6rem;
}
