.a {
  -webkit-box-shadow-bottom: 0 0.1rem 0.25rem 0 rgba(0,0,0,0.16), 0 0.1rem 0.5rem 0 rgba(0,0,0,0.12);
  -moz-box-shadow-bottom: 0 0.05rem 0.25rem 0 rgba(0,0,0,0.16), 0 0.1rem 0.5rem 0 rgba(0,0,0,0.12);
  box-shadow-bottom: 0 0.05rem 0.25rem 0 rgba(0,0,0,0.16), 0 0.05rem 0.5rem 0 rgba(0,0,0,0.12);
}
.d-shadow-1 {
  -webkit-box-shadow: 0 0.05rem 0.05rem 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 0.05rem 0.05rem 0 rgba(0,0,0,0.12);
  box-shadow: 0 0.05rem 0.05rem 0 rgba(0,0,0,0.12);
}
.d-shadow-2 {
  webkit-box-shadow: 0 0.4rem 0.85rem 0 rgba(0,0,0,0.2), 0 0.3rem 1rem 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 0.4rem 0.85rem 0 rgba(0,0,0,0.2), 0 0.3rem 1rem 0 rgba(0,0,0,0.19);
  box-shadow: 0 0.4rem 0.85rem 0 rgba(0,0,0,0.2), 0 0.3rem 1rem 0 rgba(0,0,0,0.19);
}
.d-shadow-3 {
  -webkit-box-shadow: 0 0.6rem 0.75rem 0 rgba(0,0,0,0.24), 0 0.85rem 2.5rem 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 0.6rem 0.75rem 0 rgba(0,0,0,0.24), 0 0.85rem 2.5rem 0 rgba(0,0,0,0.19);
  box-shadow: 0 0.6rem 0.75rem 0 rgba(0,0,0,0.24), 0 0.85rem 2.5rem 0 rgba(0,0,0,0.19);
}
.d-shadow-4 {
  -webkit-box-shadow: 0 0.8rem 1.4rem 0 rgba(0,0,0,0.22), 0 0.25rem 2.75rem 0 rgba(0,0,0,0.21);
  -moz-box-shadow: 0 0.8rem 1.4rem 0 rgba(0,0,0,0.22), 0 0.25rem 2.75rem 0 rgba(0,0,0,0.21);
  box-shadow: 0 0.8rem 1.4rem 0 rgba(0,0,0,0.22), 0 0.25rem 2.75rem 0 rgba(0,0,0,0.21);
}
.d-shadow-5 {
  -webkit-box-shadow: 0 1.35rem 0.2rem 0 rgba(0,0,0,0.2), 0 2rem 3.85rem 0 rgba(0,0,0,0.22);
  -moz-box-shadow: 0 1.35rem 0.2rem 0 rgba(0,0,0,0.2), 0 2rem 3.85rem 0 rgba(0,0,0,0.22);
  box-shadow: 0 1.35rem 0.2rem 0 rgba(0,0,0,0.2), 0 2rem 3.85rem 0 rgba(0,0,0,0.22);
}
