.tag-p,
.d-tag-b-r:before,
.d-tag-b-l:before,
.d-tag-t-r:before,
.d-tag-t-l:before {
  padding: 0.1rem;
  border-radius: 0.15rem;
}
.d-tag {
  position: relative;
  padding: 0.15rem;
  box-sizing: border-box;
}
.d-tag:before {
  position: absolute;
  font-size: 0.5rem;
  width: $height-28;
  height: 0.65rem;
  line-height: 0.65rem;
  z-index: 9;
  text-align: center;
}
.d-tag-b-r:before {
  position: absolute;
  bottom: 0.15rem;
  right: 0.15rem;
  color: #fff;
  background-color: #5fb336;
  content: '免费';
}
.d-tag-b-l:before {
  position: absolute;
  bottom: 0.15rem;
  left: 0.15rem;
  color: #fff;
  background-color: #5fb336;
  content: '免费';
  padding: 0.1rem;
}
.d-tag-t-r:before {
  position: absolute;
  top: 0.15rem;
  right: 0.15rem;
  color: #fff;
  background-color: #5fb336;
  content: '免费';
}
.d-tag-t-l:before {
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  color: #fff;
  background-color: #5fb336;
  content: '免费';
}
