@import 'variable.styl'
.{$pf}justify{
	text-align:justify;
}
.{$pf}justify:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
     }
.{$pf}justify .{$pf}justify-item{
	display:inline-block;
    text-align: center; 
}
.{$pf}justify-flex{
	width: 100%;
   display: -webkit-box;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between; 
}