@import 'variable.styl'
a{
    color: $txt-link;  
}
h1{
    font-size:$font-size-18;
}
h2{
    font-size: $font-size-19;
}
h3,h4{
    font-size: $font-size-16;
}
h5,.{$pf}txt-sub{
    font-size: $font-size-14;
}
h6,.{$pf}txt-tips{
    font-size: $font-size-12;
}
.{$pf}font-12{
     font-size: $font-size-12;
}
.{$pf}font-14{
    font-size: $font-size-14;
}
.{$pf}txt-default{
    color: $txt-default;
}
.{$pf}txt-white{
    color: white;
}
.{$pf}txt-info{
    color: $txt-info;
}
.{$pf}txt-muted{
    color: $txt-muted;
}
.{$pf}txt-warning,.{$pf}txt-red{
    color: $txt-warning;
}
.{$pf}txt-primary{
    color:#00a5e0;
}
.{$pf}txt-10{
    font-size:$font-size-10 !important;
}



/*2016.11.11重新梳理框架*/
.{$pf}h1,h1{
    font-size:$font-size-18;
}
.{$pf}h2,h2{
    font-size: $font-size-16;
}
.{$pf}h3,.{$pf}h4,h3,h4{
     font-size: $font-size-14;
}
.{$pf}h5,h5{
    font-size: $font-size-12;
}
.{$pf}h6,h6{
     font-size: $font-size-10;
}
.{$pf}text-center{
  padding: 0.5rem !important;
  text-align:center;
  color:#777;
}