.activity-status{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: #fff;
  padding: 3px 15px;
  border-radius: 15px;
}

.activity-status.in{
  background: $txt-success;
}

.activity-status.out{
  background: $txt-muted;
}
