.d-tab-scroll{
  overflow: hidden;
  padding: 5px 0;
  ul{
    display: inline-block;
    white-space: nowrap;
    li{
      padding: 6px 5px;
      display: inline-block;
      font-size: 14px;
      &.active{
        border-bottom: solid 2px $txt-highlight;
        color: $txt-highlight;
      }
    }
  }
}
