/*基本容器*/
.d-container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.d-container-fluid {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.d-row {
  width: 100%;
}
.d-row:after,
.d-row:before {
  content: '';
  display: table;
  clear: both;
}
.d-col-xs-1,
.d-col-sm-1,
.d-col-md-1,
.d-col-lg-1,
.d-col-xs-2,
.d-col-sm-2,
.d-col-md-2,
.d-col-lg-2,
.d-col-xs-3,
.d-col-sm-3,
.d-col-md-3,
.d-col-lg-3,
.d-col-xs-4,
.d-col-sm-4,
.d-col-md-4,
.d-col-lg-4,
.d-col-xs-5,
.d-col-sm-5,
.d-col-md-5,
.d-col-lg-5,
.d-col-xs-6,
.d-col-sm-6,
.d-col-md-6,
.d-col-lg-6,
.d-col-xs-7,
.d-col-sm-7,
.d-col-md-7,
.d-col-lg-7,
.d-col-xs-8,
.d-col-sm-8,
.d-col-md-8,
.d-col-lg-8,
.d-col-xs-9,
.d-col-sm-9,
.d-col-md-9,
.d-col-lg-9,
.d-col-xs-10,
.d-col-sm-10,
.d-col-md-10,
.d-col-lg-10,
.d-col-xs-11,
.d-col-sm-11,
.d-col-md-11,
.d-col-lg-11,
.d-col-xs-12,
.d-col-sm-12,
.d-col-md-12,
.d-col-lg-12 {
  position: relative;
  min-height: 1px;
}
.d-col-xs-1,
.d-col-xs-2,
.d-col-xs-3,
.d-col-xs-4,
.d-col-xs-5,
.d-col-xs-6,
.d-col-xs-7,
.d-col-xs-8,
.d-col-xs-9,
.d-col-xs-10,
.d-col-xs-11,
.d-col-xs-12 {
  float: left;
  padding-left: 0;
}
.d-col-xs-0 {
  width: 0%;
}
.d-col-xs-1 {
  width: 8.333333333333334%;
}
.d-col-xs-2 {
  width: 16.666666666666668%;
}
.d-col-xs-3 {
  width: 25%;
}
.d-col-xs-4 {
  width: 33.333333333333336%;
}
.d-col-xs-5 {
  width: 41.66666666666667%;
}
.d-col-xs-6 {
  width: 50%;
}
.d-col-xs-7 {
  width: 58.333333333333336%;
}
.d-col-xs-8 {
  width: 66.66666666666667%;
}
.d-col-xs-9 {
  width: 75%;
}
.d-col-xs-10 {
  width: 83.33333333333334%;
}
.d-col-xs-11 {
  width: 91.66666666666667%;
}
.d-col-xs-12 {
  width: 100%;
}
.d-col-xs-pull-0 {
  right: 0%;
}
.d-col-xs-pull-1 {
  right: 8.333333333333334%;
}
.d-col-xs-pull-2 {
  right: 16.666666666666668%;
}
.d-col-xs-pull-3 {
  right: 25%;
}
.d-col-xs-pull-4 {
  right: 33.333333333333336%;
}
.d-col-xs-pull-5 {
  right: 41.66666666666667%;
}
.d-col-xs-pull-6 {
  right: 50%;
}
.d-col-xs-pull-7 {
  right: 58.333333333333336%;
}
.d-col-xs-pull-8 {
  right: 66.66666666666667%;
}
.d-col-xs-pull-9 {
  right: 75%;
}
.d-col-xs-pull-10 {
  right: 83.33333333333334%;
}
.d-col-xs-pull-11 {
  right: 91.66666666666667%;
}
.d-col-xs-pull-12 {
  right: 100%;
}
.d-col-xs-push-0 {
  left: 0%;
}
.d-col-xs-push-1 {
  left: 8.333333333333334%;
}
.d-col-xs-push-2 {
  left: 16.666666666666668%;
}
.d-col-xs-push-3 {
  left: 25%;
}
.d-col-xs-push-4 {
  left: 33.333333333333336%;
}
.d-col-xs-push-5 {
  left: 41.66666666666667%;
}
.d-col-xs-push-6 {
  left: 50%;
}
.d-col-xs-push-7 {
  left: 58.333333333333336%;
}
.d-col-xs-push-8 {
  left: 66.66666666666667%;
}
.d-col-xs-push-9 {
  left: 75%;
}
.d-col-xs-push-10 {
  left: 83.33333333333334%;
}
.d-col-xs-push-11 {
  left: 91.66666666666667%;
}
.d-col-xs-push-12 {
  left: 100%;
}
.d-col-xs-offset-0 {
  margin-left: 0%;
}
.d-col-xs-offset-1 {
  margin-left: 8.333333333333334%;
}
.d-col-xs-offset-2 {
  margin-left: 16.666666666666668%;
}
.d-col-xs-offset-3 {
  margin-left: 25%;
}
.d-col-xs-offset-4 {
  margin-left: 33.333333333333336%;
}
.d-col-xs-offset-5 {
  margin-left: 41.66666666666667%;
}
.d-col-xs-offset-6 {
  margin-left: 50%;
}
.d-col-xs-offset-7 {
  margin-left: 58.333333333333336%;
}
.d-col-xs-offset-8 {
  margin-left: 66.66666666666667%;
}
.d-col-xs-offset-9 {
  margin-left: 75%;
}
.d-col-xs-offset-10 {
  margin-left: 83.33333333333334%;
}
.d-col-xs-offset-11 {
  margin-left: 91.66666666666667%;
}
.d-col-xs-offset-12 {
  margin-left: 100%;
}
@media (min-width: 768px) {
  .d-col-sm-1,
  .d-col-sm-2,
  .d-col-sm-3,
  .d-col-sm-4,
  .d-col-sm-5,
  .d-col-sm-6,
  .d-col-sm-7,
  .d-col-sm-8,
  .d-col-sm-9,
  .d-col-sm-10,
  .d-col-sm-11,
  .d-col-sm-12 {
    float: left;
  }
  .d-col-sm-0 {
    width: 0%;
  }
  .d-col-sm-1 {
    width: 8.333333333333334%;
  }
  .d-col-sm-2 {
    width: 16.666666666666668%;
  }
  .d-col-sm-3 {
    width: 25%;
  }
  .d-col-sm-4 {
    width: 33.333333333333336%;
  }
  .d-col-sm-5 {
    width: 41.66666666666667%;
  }
  .d-col-sm-6 {
    width: 50%;
  }
  .d-col-sm-7 {
    width: 58.333333333333336%;
  }
  .d-col-sm-8 {
    width: 66.66666666666667%;
  }
  .d-col-sm-9 {
    width: 75%;
  }
  .d-col-sm-10 {
    width: 83.33333333333334%;
  }
  .d-col-sm-11 {
    width: 91.66666666666667%;
  }
  .d-col-sm-12 {
    width: 100%;
  }
  .d-col-sm-pull-0 {
    right: 0%;
  }
  .d-col-sm-pull-1 {
    right: 8.333333333333334%;
  }
  .d-col-sm-pull-2 {
    right: 16.666666666666668%;
  }
  .d-col-sm-pull-3 {
    right: 25%;
  }
  .d-col-sm-pull-4 {
    right: 33.333333333333336%;
  }
  .d-col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .d-col-sm-pull-6 {
    right: 50%;
  }
  .d-col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .d-col-sm-pull-8 {
    right: 66.66666666666667%;
  }
  .d-col-sm-pull-9 {
    right: 75%;
  }
  .d-col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .d-col-sm-pull-11 {
    right: 91.66666666666667%;
  }
  .d-col-sm-pull-12 {
    right: 100%;
  }
  .d-col-sm-push-0 {
    left: 0%;
  }
  .d-col-sm-push-1 {
    left: 8.333333333333334%;
  }
  .d-col-sm-push-2 {
    left: 16.666666666666668%;
  }
  .d-col-sm-push-3 {
    left: 25%;
  }
  .d-col-sm-push-4 {
    left: 33.333333333333336%;
  }
  .d-col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .d-col-sm-push-6 {
    left: 50%;
  }
  .d-col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .d-col-sm-push-8 {
    left: 66.66666666666667%;
  }
  .d-col-sm-push-9 {
    left: 75%;
  }
  .d-col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .d-col-sm-push-11 {
    left: 91.66666666666667%;
  }
  .d-col-sm-push-12 {
    left: 100%;
  }
  .d-col-sm-offest-0 {
    margin-left: 0%;
  }
  .d-col-sm-offest-1 {
    margin-left: 8.333333333333334%;
  }
  .d-col-sm-offest-2 {
    margin-left: 16.666666666666668%;
  }
  .d-col-sm-offest-3 {
    margin-left: 25%;
  }
  .d-col-sm-offest-4 {
    margin-left: 33.333333333333336%;
  }
  .d-col-sm-offest-5 {
    margin-left: 41.66666666666667%;
  }
  .d-col-sm-offest-6 {
    margin-left: 50%;
  }
  .d-col-sm-offest-7 {
    margin-left: 58.333333333333336%;
  }
  .d-col-sm-offest-8 {
    margin-left: 66.66666666666667%;
  }
  .d-col-sm-offest-9 {
    margin-left: 75%;
  }
  .d-col-sm-offest-10 {
    margin-left: 83.33333333333334%;
  }
  .d-col-sm-offest-11 {
    margin-left: 91.66666666666667%;
  }
  .d-col-sm-offest-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .d-col-md-1,
  .d-col-md-2,
  .d-col-md-3,
  .d-col-md-4,
  .d-col-md-5,
  .d-col-md-6,
  .d-col-md-7,
  .d-col-md-8,
  .d-col-md-9,
  .d-col-md-10,
  .d-col-md-11,
  .d-col-md-12 {
    float: left;
  }
  .d-col-md-0 {
    width: 0%;
  }
  .d-col-md-1 {
    width: 8.333333333333334%;
  }
  .d-col-md-2 {
    width: 16.666666666666668%;
  }
  .d-col-md-3 {
    width: 25%;
  }
  .d-col-md-4 {
    width: 33.333333333333336%;
  }
  .d-col-md-5 {
    width: 41.66666666666667%;
  }
  .d-col-md-6 {
    width: 50%;
  }
  .d-col-md-7 {
    width: 58.333333333333336%;
  }
  .d-col-md-8 {
    width: 66.66666666666667%;
  }
  .d-col-md-9 {
    width: 75%;
  }
  .d-col-md-10 {
    width: 83.33333333333334%;
  }
  .d-col-md-11 {
    width: 91.66666666666667%;
  }
  .d-col-md-12 {
    width: 100%;
  }
  .d-col-md-pull-0 {
    right: 0%;
  }
  .d-col-md-pull-1 {
    right: 8.333333333333334%;
  }
  .d-col-md-pull-2 {
    right: 16.666666666666668%;
  }
  .d-col-md-pull-3 {
    right: 25%;
  }
  .d-col-md-pull-4 {
    right: 33.333333333333336%;
  }
  .d-col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .d-col-md-pull-6 {
    right: 50%;
  }
  .d-col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .d-col-md-pull-8 {
    right: 66.66666666666667%;
  }
  .d-col-md-pull-9 {
    right: 75%;
  }
  .d-col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .d-col-md-pull-11 {
    right: 91.66666666666667%;
  }
  .d-col-md-pull-12 {
    right: 100%;
  }
  .d-col-md-push-0 {
    left: 0%;
  }
  .d-col-md-push-1 {
    left: 8.333333333333334%;
  }
  .d-col-md-push-2 {
    left: 16.666666666666668%;
  }
  .d-col-md-push-3 {
    left: 25%;
  }
  .d-col-md-push-4 {
    left: 33.333333333333336%;
  }
  .d-col-md-push-5 {
    left: 41.66666666666667%;
  }
  .d-col-md-push-6 {
    left: 50%;
  }
  .d-col-md-push-7 {
    left: 58.333333333333336%;
  }
  .d-col-md-push-8 {
    left: 66.66666666666667%;
  }
  .d-col-md-push-9 {
    left: 75%;
  }
  .d-col-md-push-10 {
    left: 83.33333333333334%;
  }
  .d-col-md-push-11 {
    left: 91.66666666666667%;
  }
  .d-col-md-push-12 {
    left: 100%;
  }
  .d-col-md-offest-0 {
    margin-left: 0%;
  }
  .d-col-md-offest-1 {
    margin-left: 8.333333333333334%;
  }
  .d-col-md-offest-2 {
    margin-left: 16.666666666666668%;
  }
  .d-col-md-offest-3 {
    margin-left: 25%;
  }
  .d-col-md-offest-4 {
    margin-left: 33.333333333333336%;
  }
  .d-col-md-offest-5 {
    margin-left: 41.66666666666667%;
  }
  .d-col-md-offest-6 {
    margin-left: 50%;
  }
  .d-col-md-offest-7 {
    margin-left: 58.333333333333336%;
  }
  .d-col-md-offest-8 {
    margin-left: 66.66666666666667%;
  }
  .d-col-md-offest-9 {
    margin-left: 75%;
  }
  .d-col-md-offest-10 {
    margin-left: 83.33333333333334%;
  }
  .d-col-md-offest-11 {
    margin-left: 91.66666666666667%;
  }
  .d-col-md-offest-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .d-col-lg-1,
  .d-col-lg-2,
  .d-col-lg-3,
  .d-col-lg-4,
  .d-col-lg-5,
  .d-col-lg-6,
  .d-col-lg-7,
  .d-col-lg-8,
  .d-col-lg-9,
  .d-col-lg-10,
  .d-col-lg-11,
  .d-col-lg-12 {
    float: left;
  }
  .d-col-lg-0 {
    width: 0%;
  }
  .d-col-lg-1 {
    width: 8.333333333333334%;
  }
  .d-col-lg-2 {
    width: 16.666666666666668%;
  }
  .d-col-lg-3 {
    width: 25%;
  }
  .d-col-lg-4 {
    width: 33.333333333333336%;
  }
  .d-col-lg-5 {
    width: 41.66666666666667%;
  }
  .d-col-lg-6 {
    width: 50%;
  }
  .d-col-lg-7 {
    width: 58.333333333333336%;
  }
  .d-col-lg-8 {
    width: 66.66666666666667%;
  }
  .d-col-lg-9 {
    width: 75%;
  }
  .d-col-lg-10 {
    width: 83.33333333333334%;
  }
  .d-col-lg-11 {
    width: 91.66666666666667%;
  }
  .d-col-lg-12 {
    width: 100%;
  }
  .d-col-lg-pull-0 {
    right: 0%;
  }
  .d-col-lg-pull-1 {
    right: 8.333333333333334%;
  }
  .d-col-lg-pull-2 {
    right: 16.666666666666668%;
  }
  .d-col-lg-pull-3 {
    right: 25%;
  }
  .d-col-lg-pull-4 {
    right: 33.333333333333336%;
  }
  .d-col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .d-col-lg-pull-6 {
    right: 50%;
  }
  .d-col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .d-col-lg-pull-8 {
    right: 66.66666666666667%;
  }
  .d-col-lg-pull-9 {
    right: 75%;
  }
  .d-col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .d-col-lg-pull-11 {
    right: 91.66666666666667%;
  }
  .d-col-lg-pull-12 {
    right: 100%;
  }
  .d-col-lg-push-0 {
    left: 0%;
  }
  .d-col-lg-push-1 {
    left: 8.333333333333334%;
  }
  .d-col-lg-push-2 {
    left: 16.666666666666668%;
  }
  .d-col-lg-push-3 {
    left: 25%;
  }
  .d-col-lg-push-4 {
    left: 33.333333333333336%;
  }
  .d-col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .d-col-lg-push-6 {
    left: 50%;
  }
  .d-col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .d-col-lg-push-8 {
    left: 66.66666666666667%;
  }
  .d-col-lg-push-9 {
    left: 75%;
  }
  .d-col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .d-col-lg-push-11 {
    left: 91.66666666666667%;
  }
  .d-col-lg-push-12 {
    left: 100%;
  }
  .d-col-lg-offset-0 {
    margin-left: 0%;
  }
  .d-col-lg-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .d-col-lg-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .d-col-lg-offset-3 {
    margin-left: 25%;
  }
  .d-col-lg-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .d-col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .d-col-lg-offset-6 {
    margin-left: 50%;
  }
  .d-col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .d-col-lg-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .d-col-lg-offset-9 {
    margin-left: 75%;
  }
  .d-col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .d-col-lg-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .d-col-lg-offset-12 {
    margin-left: 100%;
  }
}
.d-col-height-0 {
  height: 0vw;
}
.d-col-height-1 {
  height: 8.333333333333334vw;
}
.d-col-height-2 {
  height: 16.666666666666668vw;
}
.d-col-height-3 {
  height: 25vw;
}
.d-col-height-4 {
  height: 33.333333333333336vw;
}
.d-col-height-5 {
  height: 41.66666666666667vw;
}
.d-col-height-6 {
  height: 50vw;
}
.d-col-height-7 {
  height: 58.333333333333336vw;
}
.d-col-height-8 {
  height: 66.66666666666667vw;
}
.d-col-height-9 {
  height: 75vw;
}
.d-col-height-10 {
  height: 83.33333333333334vw;
}
.d-col-height-11 {
  height: 91.66666666666667vw;
}
.d-col-height-12 {
  height: 100vw;
}
.d-grid-link:active {
  background-color: #fdfdfd;
}
.d-row [class*=d-col-xs-]:active {
  background-color: #eee;
}
.d-grid-txt-other {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  height: inherit;
}
/*2016.11.11框架重新梳理*/
.d-grid {
  font-size: 0.7rem;
  padding: 0.5rem;
}
.d-grid .d-row [class*=d-col-xs-] {
  padding: 0.5rem 0.25rem;
}
.d-grid .d-grid-txt {
  margin: 0 auto;
  text-align: center;
  margin-top: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  height: inherit;
}
.d-grid .d-badge {
  position: absolute;
  top: 7px;
  left: 58%;
  font-size: 0.5rem;
  color: #fff;
  background-color: #ff2600;
  border-radius: 0.4rem;
  display: inline-block;
  padding: 0 0.125rem;
  line-height: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  text-align: center;
}
.d-circular img {
  border-radius: 5rem !important;
}
.d-grid img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
  display: block;
  -webkit-background-size: cover;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background-size: cover;
  overflow: hidden;
}
