.d-list {
  background-color: #fff;
  width: 100%;
}
.d-list-content {
  box-sizing: border-box;
  min-height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.d-list .d-list-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: start;
}
.d-list-items .d-list-img-wrap {
  margin: 0 0.05rem;
}
.d-list li {
  padding: 0.5rem 0;
  position: relative;
}
.d-list-info {
  padding-left: 0.55rem;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-pack: center;
}
.d-list-txt-clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.d-list-txt-clamp-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.d-list li:active {
  background-color: #eee;
}
.d-list-position {
  position: absolute;
  bottom: -4px;
  font-size: 0.6rem;
}
.d-list-prev {
  border-left: 0.15rem solid #ff7f00;
  padding-left: 0.25rem;
  margin: 0.5rem 0;
}
/*2016.11.11框架重新梳理*/
.d-list [class*=d-col-xs-] {
  height: 18vw;
}
.d-img-wrap {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.d-img-wrap .d-img-box {
  width: 32.2%;
  height: 20vw;
}
.d-list li {
  border-bottom: 1px solid #e0e0e0;
}
.d-list img {
  object-fit: cover;
  height: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .d-list li {
    border: 0;
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0));
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
  }
}
.d-list-txt {
  font-size: 0.7rem;
  color: #5f646e;
  line-height: 1rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.d-list .d-col-xs-9 .d-list-position {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: -4px;
  font-size: 0.6rem;
  width: 96%;
}
.d-list .d-tip {
  color: #ff7f00;
  font-weight: bold;
}
.d-list-position .d-list-bottom {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  font-size: 0.5rem;
}
.d-list-position .d-list-bottom span {
  margin-right: 1rem;
}
.d-list-bottom .d-comment i {
  font-size: 0.5rem !important;
  padding-right: 0.15rem;
}
.d-more {
  font-size: 0.6rem;
  text-align: center;
  color: #777;
  padding: 0.5rem 0 !important;
}
.d-more:active {
  background-color: #eee;
}
.d-more i {
  font-size: 0.5rem;
  margin-left: 0.25rem;
}
