@import 'variable.styl'
.{$pf}text-align-c {
  text-align: center;
}
.{$pf}text-align-l {
  text-align: left;
}
.{$pf}text-align-r {
  text-align: right;
}
.{$pf}margin-lr-2{
	margin:0 $margin-2;
}
.{$pf}margin-lr-5{
	margin:0 $margin-5;
}
.{$pf}margin-lr-10{
	margin:0 $margin-10;
}
.{$pf}margin-l-10{
	margin-left:$margin-10;
}
.{$pf}margin-l-2-half{
	margin-left:0.125rem;
}
.{$pf}margin-r-10{
	margin-right:$margin-10;
}
.{$pf}margin-r-5{
  margin-right:$margin-5;
}
.{$pf}margin-r-20{
  margin-right:$margin-20;
}
.{$pf}margin-t-50{
	margin-top:$margin-50;
}
.{$pf}margin-t-10{
	margin-top:$margin-10 !important;
}
.{$pf}margin-t-5{
	margin-top:$margin-5;
}
.{$pf}margin-b-5{
  margin-bottom:$margin-5;
}
.{$pf}margin-b-10{
  margin-bottom:$margin-10;
}
.{$pf}margin-b-20{
  margin-bottom:$margin-20;
}
.{$pf}margin-tb-10{
   margin:$margin-10 0;
}
.{$pf}margin-r-1{
	margin-right:$margin-1;
}
.{$pf}padding-r-20{
	padding-right:$margin-20;
}
.{$pf}padding-b-20{
  padding-bottom:$margin-20;
}
.{$pf}padding-b-10{
  padding-bottom:$margin-10;
}
.{$pf}padding-l-20{
	padding-left:$margin-20;
}
.{$pf}padding-r-10{
	padding-right:$margin-10;
}
.{$pf}padding-lr-10{
  padding:0 $margin-10;
}
.{$pf}padding-lr-20{
  padding:0 $margin-20;
}
.{$pf}padding-l-10{
	padding-left:$margin-10;
}
.{$pf}padding-r-3{
  padding-right:0.15rem;
}
.{$pf}padding-r-0{
	padding-right:0;
}
.{$pf}padding-l-0{
	padding-left:0;
}
.{$pf}padding-tb-20{
	padding:$margin-20 0;
}
.{$pf}padding-t-10{
  padding-top:$margin-10 !important;
}
.{$pf}padding-t-20{
  padding-top:$margin-20;
}
.{$pf}padding-tb-5{
  padding:$margin-5 0;
}
.{$pf}padding-tb-10{
  padding:$margin-10 0 !important;
}
.{$pf}padding-10{
  padding:0.5rem !important;
}
.{$pf}width-8{
  width:$width-8 !important;
}
.{$pf}width-20{
  width:$width-20;
}
.{$pf}height-40{
  height:$height-40;
}
.{$pf}grid-badge{
}
.{$pf}fill {object-fit: fill; height:100% }
.{$pf}contain { object-fit: contain; height:100%}
.{$pf}cover { object-fit: cover;height:100% }
.{$pf}none { object-fit: none;height:100% }
.{$pf}scale-down { object-fit: scale-down; height:100%}
.{$pf}position-a{
       position absolute;      
}
.{$pf}position-r{
       position:relative;      
}
.{$pf}line-h{
	line-height 1.45rem;
}
.{$pf}position-icon{
	  position absolute;
	  top:0px;
    left:0.5rem;
    color: #666;	
}
.{$pf}margin-auto{
       margin:0 auto;      
}
.{$pf}position-more{
    position: absolute;
    bottom: 0.5rem;
    left: 29%;
}
.{$pf}position-b-0{
    position: absolute;
    bottom: 0;
}

.{$pf}b-radius-10{
  -webkit-border-radius: 0.5rem !important;
    border-radius: 0.5rem !important;
}   
.{$pf}rec{
    border-left: 0.15rem solid $header-bg-orange;
    padding-left: 0.25rem;
    // margin-bottom: 0.5rem;
    }
.{$pf}p-left-58{
       left:58% !important;     
}
.{$pf}p-left-0{
       left:0% !important;     
}

.{$pf}txt-orange{
       color:$header-bg-orange;   
      
}//求助字体颜色
.{$pf}activity-state{
  background-color:#9ACD32;
  color:#fff;
}
.{$pf}tip{
   font-weight bold;
}
.{$pf}bg-f{
background-color #fff;
}
.{$pf}nowrap-c{
    width: 80%;
    margin: 0 auto;
    text-align: center;
   
}
.{$pf}label-skill-tag{
  position: absolute;
    top: -0.3rem;
    background-color: red;
    border-radius: 1rem;
    color: #fff;
    padding: 0 0.2rem;
    left: 64%;
}