@import 'variable.styl'
.{$pf}form{
  background-color #fff;
}
.{$pf}form-item {
    min-height: 2.2rem;
    padding-right: 0.75rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size:0.7rem;
   }
  .{$pf}form-item-inner{
    width: 100%;
    padding-left: 0.5rem;
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .{$pf}form-item-inner1{
     width: 67% !important;
     padding-left:0 !important
  }
  
  
  .{$pf}form-item-label{
    width:50%;
  }
  .{$pf}form-item-w{
        height 2.2rem;
        line-height 2.2rem;
  }
  .{$pf}form-item-inner button{
    height 2.2rem
    color:#00a5e0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
    background:none;
    width:100%;
  }
  .{$pf}form-item-inner button:active{
    background: #f2f2f2;
    color: rgba(0,165,224,0.5);
  }
  .{$pf}form-item-p-r-0{
    padding-right 0;
  }
  .{$pf}form-item-p-r-0 .d-form-item-inner-b{
    padding-left 0;
  }
    .{$pf}form-item span{
        height: 1rem;
        display: block;
        width: 1.6rem;
        line-height: 0.9rem;
        text-align: center;
        border-radius: 0.5rem;
        background-color: #666;
        color: #fff;       
  }
  
  .{$pf}form-item textarea {
    height: 65px;
    font-size 0.7rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding-top: 1.2rem;
   
  }
  .{$pf}form-item-span{
    width:33%;
  }
  .{$pf}form-item-span-10{
    width:33%;
  }
  .{$pf}form-item-span span{
    width:1rem;
  }
  .{$pf}form-item input,.{$pf}form-item textarea{
    width:100%;
  }
//radio
.{$pf}radio input {
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    overflow: visible;
    border: 0;
    background: none;
    -webkit-appearance: none;
    outline: none;
    margin-right: 8px;
    vertical-align: middle;
    }
.{$pf}radio {
  line-height: 25px;
  display: inline-block; }
.{$pf}radio-label{
  width:20%;
}

.{$pf}radio input {
  display: inline-block;
  width: 26px;
  height: 26px;
  position: relative;
  overflow: visible;
  border: 0;
  background: none;
  -webkit-appearance: none;
  outline: none;
  margin-right: 8px;
  margin-left: 8px;
  vertical-align: middle; }

.{$pf}radio input:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #dfe0e1;
  border-radius: 13px;
  background-clip: padding-box;
  position: absolute;
  left: 0px;
  top: 0; }

.{$pf}radio input:checked:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #18b4ed;
  border-radius: 7px;
  position: absolute;
  left: 6px;
  top: 6px; }
  
  .{$pf}form-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: -webkit-box;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-align: center;
  height: 2.1rem;
  line-height: 2.1rem;
}
.{$pf}form-footer button {
  color: #00a5e0;
  text-align: center;
  border: 0;
  width: 100%;
  line-height: 2rem;
  background: transparent;
  border-right: 1px #e0e0e0 solid;
  display: block;
  margin: 0 !important;
  -webkit-box-flex: 1;
}
.{$pf}form-footer button:active {
    background: #f2f2f2;
    color: rgba(0,165,224,0.5);
}
/*# sourceMappingURL=radio.css.map */
