.{$pf}progress {
  overflow: hidden;
  width: 100%;
  height: 2px;
  font-size: 0px;
  background-color: #e2e2e2;
  box-sizing: border-box; 
  margin:$margin-5 0;}

.{$pf}progress .{$pf}progress-inner-50 {
  display: block;
  width: 50%;
  background: #65d521;
  height: 100%;
  font-size: 0; 
}
.{$pf}progress .{$pf}progress-inner-80 {
  display: block;
  width: 80%;
  background: #65d521;
  height: 100%;
  font-size: 0; }
  .{$pf}progress .{$pf}progress-inner-30 {
  display: block;
  width: 30%;
  background: #65d521;
  height: 100%;
  font-size: 0; }
