@import "variable.styl"
.{$pf}search{
	display: -webkit-box;
    -webkit-box-pack: center;/*子元素水平对齐方式*/
    -webkit-box-align: center;/*子元素垂直对齐方式*/
    height:$height-44;
    overflow: hidden;
    width: 100%;
    -webkit-backface-visibility: hidden;/*隐藏被旋转的 div 元素的背面：*/
    backface-visibility: hidden;
	}
	
.{$pf}search-box{
		margin: 0 $margin-10;
    background-color: #ffffff;
    border-radius: $boeder-r-5;
    height: $height-30;
    line-height: $height-30;
    font-size: $font-size-14;
    width: 100%;
    position: relative;
    padding:0 $margin-10;
    display: -webkit-box;
    -webkit-box-flex: 1;
    box-sizing: border-box;

	}
.{$pf}search-box input{
	   width:99%;
			display: -webkit-box;
			background: #fff;
			border:0px;	
			outline: none;
			padding-left:$margin-20;
      color:#333;
	}
	
.{$pf}search .cancel{
		font-size:$font-size-14;
	    color: #666666;
	    margin-right: -2.2rem;
	    width: $width-44;
	    height:$height-30;
	    line-height: $height-30;
	    -webkit-transition: all .3s;
	    transition: all .3s;
}
