/*存放所有变量*/

/*边框*/
$pf=d-;
$btn-height=1.5rem
$bordercolor=#e0e0e0;
$border-t=-webkit-gradient(linear, left bottom, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$border-b=-webkit-gradient(linear, left top, left bottom, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$border-l=-webkit-gradient(linear, right top, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$border-r=-webkit-gradient(linear, left top, right top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor), to($bordercolor));
$text-color=#ffffff;

/*字体颜色*/
$txt-default=#000;
$txt-info=#777;
$txt-muted=#bbb;
$txt-warning=#ff4222;
$txt-highlight=#ff8444;
$txt-link=#00a5e0;
$txt-feeds=#314c83;

/*字体大小*/

$font-size-base=0.8rem;
$font-size-h1=0.9rem;
$font-size-title-lg=0.85rem;
$font-size-sub=0.7rem;
$font-size-tips=0.6rem;

/*圆角*/

$border-radius-base=0.2rem;
$border-radius-lg=0.4rem;
$border-radius-max=10rem;

/*btn*/

$btn-padding=0 0.55rem;
$btn-min-width=2.75rem;
$btn-size=15px;
$btn-border-radius=3px;
$btn-hot-area=7px;
$btn-bg-color=#fdfdfd;
$btn-bg-image=-webkit-gradient(linear,left top, left bottom, color-stop(0.5, #fff), to(#fafafa));
$btn-text=rgb(0,165,224);
$btn-border-color=#cacccd;
$btn-active-bg=#f2f2f2;
$btn-active-text=rgba(0,165,224,.5);

$btn-lg-border-radius=5px; 
$btn-lg-height=44px;
$btn-lg-size=18px;


$btn-s-width=55px;
$btn-s-height=25px;
$btn-s-size=13px;

$btn-before-border-radius=6px;
$btn-lg-before-border-radius=10px;
$btn-wrap-padding=15px 10px;
$btn-wrap-padding-s=10px;

$btn-group-margin=10px;

$btn-primary-bg-color=#18b4ed;
$btn-primary-bg-image=-webkit-gradient(linear,left top, left bottom, color-stop(0.5, #1fbaf3), to(#18b4ed));
$btn-primary-text=rgb(255,255,255);
$btn-primary-border-color=#0baae4;
$btn-primary-active-bg=#1ca7da;
$btn-primary-active-text=rgba(255,255,255,.5);


$btn-danger-bg-color=#f75549;
$btn-danger-bg-image=-webkit-gradient(linear,left top, left bottom, color-stop(0.5, #fc6156), to(#f75549));
$btn-danger-text=rgb(255,255,255);
$btn-danger-border-color=#f43d30;
$btn-danger-active-bg=#e2574d;
$btn-danger-active-text=rgba(255,255,255,.5);

$btn-disabled-bg-color=#e9ebec;
$btn-disabled-text=#ccc;

$btn-progress-bg-color=#fefefe;
$btn-progress-bg-image=-webkit-gradient(linear,left top, left bottom, color-stop(0.5, rgb(255,255,255)), to(rgb(250,250,250)));
$btn-progress-text=#ccc;
$btn-progress-disabled-border-color=#cacccd;
$btn-progress-inner-bg-image=-webkit-gradient(linear,left top, left bottom, color-stop(0.5, #1fbaf3), to(#18b4ed));



